<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="flipkart_v001">

	<listeners>
		<listener class-name="com.flipkart_v001.utilities.Reporting"/>
	</listeners>


	<test name="flipkart_v001 Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.flipkart_v001.testCase.TC_productbuyTest_001" />
		</classes>

	</test>

</suite>